.counter {
    margin: 0 5rem;
    padding-top: 8rem;
    font-weight: 400; 
    font-size: 2.4rem;
    text-align: center;
}
.counter--darkTheme {
    color: #FFFFFF;
}
.counter--lightTheme {
    color: #1E1E1F;
}