@keyframes expandir {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.buttonIcon {
    display: flex;
    margin: 0 auto;
    width: 3.072rem;
    height: 3.072rem;
    background: url('../assets/icons/Plus-Icon.svg') center/cover no-repeat;
}
.plusAnimation {
    display: flex;
    margin: 0 auto;
    width: 3.072rem;
    height: 3.072rem;
    background: url('../assets/icons/Plus-Icon.svg') center/cover no-repeat;
    animation: expandir 3s linear infinite;       
}
.buttonContainer {
    width: 80%;
    max-width: 120rem;
    margin: 4.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.button {
    position: fixed;
    margin-bottom: 1.5rem;
    bottom: 0;
    border-radius: 7.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 0;
    transform: rotate(0);
    transition: .3s ease;
}
.animation {
    position: fixed;
    margin-bottom: 1.5rem;
    bottom: 0;
    border-radius: 7.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 0;
    animation: expandir 3s linear infinite;
}
.button--lightTheme {
    background-color: #61DAFA;
    box-shadow: 0 0.5rem 2.5rem rgba(97, 218, 250, 0.5);
}
.button--darkTheme {
    background-color: #53409F;
    box-shadow: 0 0.5rem 2.5rem rgba(119, 78, 255, 0.5);
}
.button:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
.animation:hover {
    cursor: pointer;
}