@keyframes expandir {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mover {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1.5rem);
    }
    100% {
        transform: translateX(0);
    }
}
.buttonIcon {
    display: flex;
    margin: 0 auto;
    width: 3.072rem;
    height: 3.072rem;
    background: url('../assets/icons/Plus-Icon.svg') center/cover no-repeat;
}
.plusAnimation {
    display: flex;
    margin: 0 auto;
    width: 3.072rem;
    height: 3.072rem;
    background: url('../assets/icons/Plus-Icon.svg') center/cover no-repeat;
    animation: expandir 2s linear infinite;       
}
.buttonContainer {
    width: 80%;
    max-width: 120rem;
    margin: 4.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.arrowLightAnimation {
    position: fixed;
    width: 8rem;
    height: 5rem;
    background: url('../assets/icons/arrow-right-sky.svg') center/cover no-repeat;
    bottom: 2.3rem;
    margin-right: 10rem;
    animation: mover 1.5s linear infinite;
}
.arrowDarkAnimation {
    position: fixed;
    width: 8rem;
    height: 5rem;
    background: url('../assets/icons/arrow-righ-violet.svg') center/cover no-repeat;
    bottom: 2.3rem;
    margin-right: 10rem;
    animation: mover 1.5s linear infinite;
}

.button {
    position: fixed;
    margin-bottom: 1.5rem;
    bottom: 0;
    border-radius: 7.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 0;
    transform: rotate(0);
    transition: .3s ease;
}
.animation {
    position: fixed;
    margin-bottom: 1.5rem;
    bottom: 0;
    border-radius: 7.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 0;
    animation: expandir 2s linear infinite;
}
.button--lightTheme {
    background-color: #61DAFA;
    box-shadow: 0 0.5rem 2.5rem rgba(97, 218, 250, 0.5);
}
.button--darkTheme {
    background-color: #53409F;
    box-shadow: 0 0.5rem 2.5rem rgba(119, 78, 255, 0.5);
}
.button:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
.animation:hover {
    cursor: pointer;
}

@media (min-width: 1000px) {
    .button {
        width: 9.4rem;
        height: 9.4rem;
        margin-bottom: 2.5rem;
    }
    .animation {
        width: 9.4rem;
        height: 9.4rem;
        margin-bottom: 2.5rem;
    }
    .buttonIcon {
        width: 5.072rem;
        height: 5.072rem;
    }
    .plusAnimation {
        width: 5.072rem;
        height: 5.072rem;
    }
    .arrowLightAnimation {
        width: 10rem;
        height: 7rem;
        margin-right: 14rem;
        bottom: 3.6rem;
    }
    .arrowDarkAnimation {
        width: 10rem;
        height: 7rem;
        margin-right: 14rem;
        bottom: 3.6rem;
    }
}