* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body {
  font-size: 1.6rem;
  background-color: #F2F4F5;
}
.light-theme {
  background-color: #F2F4F5; /* Fondo claro */
}

.dark-theme {
  background-color: #272728; /* Fondo oscuro */
}
